:root {
    --main-color: #6e76db;
    --back-color: #22222a;
    --point-color: #5f5bee;
    --black: #000000;
    --white: #ffffff;
    --gray-text: #575666;
    --blue-text: #777a9b;
}

a {text-decoration: none; outline: none}
a:hover, a:active {text-decoration: none;}
input:focus {outline: none;}

::-webkit-scrollbar {display: none;}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {-webkit-appearance: none; margin: 0;}
input[type="number"] {-moz-appearance: textfield;}

html, body {padding: 0; margin: 0; height: 100%; font-family: sans-serif; -ms-overflow-style: none; position: relative; background: var(--back-color); -ms-overflow-style: none; -webkit-tap-highlight-color: rgba(0,0,0,0);}

.sub {width: 100%; height: auto; max-width: 500px; color: var(--white); position: absolute; left: 50%; transform: translateX(-50%);}

nav {background: var(--black); width: 100%; height: 60px; max-width: 500px; line-height: 60px; font-size: 18px; text-align: center; position: sticky; top: -0.5px; display: flex; justify-content: space-between; z-index: 200;}

.menu {width: 50px; cursor: pointer;}
.artist > span {cursor: pointer;}
.calendar {width: 50px; cursor: pointer;}

main {width: 100%; height: auto; padding-bottom: 55px; min-height: calc(100% - 120px); background-color: var(--back-color);}

.date {width: 100%; display: inline-block; height: 70px; max-width: 500px;}
.datebox {width: 250px; height: 20px; text-align: center; margin-top: 30px; background: var(--black); border-radius: 20px; font-size: 13px; color: var(--blue-text); font-weight: bold; padding: 5px; position: relative; left: calc(50% - 125px);}

section {min-height: 60px; width: 100%;}
.info {height: 55px;}
.profile {width: 40px; height: 40px; margin:10px 5px 0 20px; display: inline-block;}
.profile > img {border-radius: 50px; width: 40px;}
.name {display: inline-block; font-size: 12px; vertical-align: bottom; padding-bottom: 5px;}

.content {width: 100%;}
.message {background: var(--main-color); border-radius: 20px; padding: 10px 15px 10px 15px; margin: 0 0 10px 65px; font-size: 13px; line-height: 18px; display: inline-block; max-width: calc(100% - 210px);}
.message > img {width: 100%;}
.time {display: inline-block; width: 110px; font-size: 12px; vertical-align: bottom; margin: 0 0 10px 5px; color: var(--gray-text); font-weight: bold;}

.start {visibility: hidden;}
.end {visibility: hidden;}


footer {width: 100%; height: 60px; max-width: 500px; display: flex; position: sticky; bottom: -0.5px; background: var(--black); z-index: 100;}
.recent {width: 150px; height: 20px; text-align: center; background: var(--black); border-radius: 20px; font-size: 13px; color: var(--blue-text);  padding: 5px; position: absolute; bottom: 75px; left: calc(50% - 75px); cursor: pointer; line-height: 20px;}
.textbox {border: 1px solid var(--gray-text); height: 40px; border-radius: 20px; width: calc(100% - 40px); margin: 10px 0 0 20px;}
.nickname {display: inline-block; width: calc(100% - 80px); line-height: 38px; margin-left: 10px;}
.nickname > input {width: 98%; height: 30px; background: transparent; border: 0; color: var(--white); font-size: 13px; font-weight: bold; padding: 0;}
.nickname > input:disabled {color: var(--gray-text);}
.nickname > input::placeholder {color: var(--gray-text);}
.nickname > input:focus::placeholder {color: transparent;}
.send {display: inline-block; width: 30px; height: 30px; background: var(--point-color); text-align: center; border-radius: 30px; cursor: pointer; color: var(--white); border: 0; margin-left: 5px; line-height: 30px;}
.send:disabled {background: var(--back-color); color: var(--gray-text); cursor: auto;}
.smile {display: inline-block; width: 30px; height: 30px; margin: 0; padding: 0; color: var(--blue-text); font-size: 16px; line-height: 30px; text-align: center; cursor: pointer;}

/* search */
.search {width: 100%; height: 300px; max-width: 500px; background: var(--black); z-index: 200; position: sticky; top: 59px; border-radius: 0 0 20px 20px;}
.year {width: 240px; height: 35px; position: absolute; left: calc(50% - 120px); top: 30px;}
.yearBtn {display: none;}
.year > label {width: 100px; height: 35px; background: var(--back-color); display: inline-block; line-height: 35px; text-align: center; margin: 0 10px 0 10px; border-radius: 5px; cursor: pointer; color: var(--white); font-size: 14px;}
.year > input[type=radio]:checked + label {background: var(--main-color);}
.month {width: 100%; height: 35px; position: relative; top: 90px; display: flex; justify-content: space-evenly;}
.select {width: 220px; background: var(--back-color); color: var(--white); border: 0; padding: 10px; border-radius: 5px; border-right: 7px solid transparent; cursor: pointer;}
.day {width: 100%; height: 35px; position: relative; top: 110px; display: flex; justify-content: space-evenly; cursor: pointer;}
.select:focus {outline: none;}
.move {width: 100%; height: 35px; position: relative; top: 130px; display: flex; justify-content: space-evenly;}
.moveBtn {width: 220px; height: 35px; border-radius: 5px; background: var(--main-color); color: var(--white); border: 0; line-height: 35px; cursor: pointer;}

/* toast */
.toast {width: 100%; height: 80px; max-width: 500px; background: var(--black); position: sticky; bottom: 59px; z-index: 200; border-radius: 20px 20px 0 0;}
.container {width: 100%; height: calc(100% - 10px); display: inline-flex; flex-wrap: nowrap; justify-content: space-evenly; align-items: center; margin-top: 10px;}
.image {width: 20%; text-align: center;}
.imgBtn {display: none;}
.image > label {background: transparent;}
.image > label > img {width: 55px; height: 55px; border-radius: 55px; cursor: pointer;}
.image > input[type=radio]:checked + label > img {border: 3px solid var(--point-color);}


/* index */
.landing {max-width: 500px; width: 100%; height: 100%; background: var(--back-color); min-width: 300px; position: absolute; left: 50%; transform: translateX(-50%); z-index: 500; top: 0;}
.alarm {width: 300px; height: 80px; background: var(--gray-text); margin-top: 30%; position: relative; left: calc(50% - 150px); border-radius: 15px; color: var(--white);}
.alarm > h5 {margin: 0; padding: 20px 0 0 20px;}
.alarm > span {padding-left: 20px; font-size: 14px;}
.enter {width: 200px; position: absolute; left: calc(50% - 100px); bottom: 20%;}
.check {width: 200px; height: 35px; border: 0; padding: 0; border-radius: 5px; display: block; background: var(--gray-text); text-align: center; color: var(--white);}
.check::placeholder {text-align: center; color: rgba(256,256,256,0.2); font-size: 12px;}
.check:focus {outline: none;}
.check:focus::placeholder {color: transparent;}
.enterBtn {width: 200px; height: 35px; border-radius: 5px; border: 0; margin-top: 10px; background: var(--main-color); color: var(--white); font-size: 14px; line-height: 35px; cursor: pointer;}
.contact {width: 100%; height: 30px; text-align: center; margin: 0; font-size: 12px; position: absolute; bottom: 0;}
.contact > a {color: var(--gray-text);}